{:ns-prefix     "hurdle"
 :ignore-errors ["goog/i18n/bidi.js"]
 :env-keys      ["cc.env" "CC_ENV"]
 :development   {:cache-analysis true
                 :optimizations  :none
                 :output-dir     "resources/public/cljs"
                 :output-to      "resources/public/cljs/hurdle_dev.js"
                 :pretty-print   true
                 :sources        ["spec/cljs" "src/cljs" "spec/cljc" "src/cljc"]
                 :specs          true
                 :verbose        true
                 :watch-fn       c3kit.scaffold.cljs/on-dev-compiled
                 :parallel-build true}
 :production     {:cache-analysis false
                  :infer-externs  true
                  :optimizations  :advanced
                  :output-dir     "resources/public/cljs"
                  :output-to      "resources/public/cljs/hurdle.js"
                  :pretty-print   false
                  :sources        ["src/cljs" "src/cljc"]
                  :specs          false
                  :verbose        false}
 }